.container {
    -moz-column-count: 3; /* Firefox */
    -webkit-column-count: 3; /* Safari 和 Chrome */
    column-count: 3;

    -moz-column-width:300px; /* Firefox */
    -webkit-column-width:300px; /* Safari 和 Chrome */
    column-width:300px;

    -moz-column-gap: 5px; /* Firefox */
    -webkit-column-gap: 5px; /* Safari 和 Chrome */
    column-gap: 5px;
}


    .container div {
        width: 300px;
        margin: 5px 0;
    }

    .container p {
        text-align:center;
    }